@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
    background-color: blue;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    transition: flex 0.7s ease-in;
    border-radius: 25px;
    width: 100px;
}

.panel h3 {
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
    position: relative;
}

.panel.active h3 {
    opacity: 1;
    position: absolute;
}

@media (max-width: 480px) {
    .panel.active h3 {
        font-size: 16px;
    }
    .panel {
        height: 60vh;
    }
    .panel:nth-of-type(4) {
        display: none;
    }

    .panel:nth-of-type(5) {
        display: none;
    }
}
